body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #b0d9f7, #52b8f4);
    padding: 20px;
}
h2{
    font-weight: bolder;
    margin-bottom: 3%;
}
h1{
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    border: 1px solid white;
}
p{
    border: 1px solid white;
    padding: 20px;
    margin-top: 3%;
}
